/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/poppins-v20-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/poppins-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@import url("https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display");

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
  display: inline-block;
}
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover {
  transition: 0.2s;
}
input {
  outline: none;
  border: none;
  border-radius: 7px;
}

///////// .container/////////
///

.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

// home section style start here////
.main {
  .hero-section {
    position: relative;
    background-image: url("../assets/images/hero-bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    .container {
      .hero-flex {
        display: flex;
        .hero-left {
          z-index: 10;
          margin-top: 160px;
          position: absolute;
          max-width: 700px;
          font-size: 35px;
          h1 {
            color: rgb(255, 255, 255);
            margin-bottom: 30px;
          }
          p {
            color: rgb(208, 208, 208);
            margin-bottom: 70px;
          }
          .hero-btn {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 40px;
            &-1 {
              border-radius: 7px;
              padding: 8px 30px;
              background-color: rgb(41, 134, 233);
              color: rgb(235, 234, 234);
            }
            &-2 {
              border-radius: 7px;
              padding: 8px 30px;
              border: 1px solid rgb(41, 134, 233);
              color: rgb(235, 234, 234);
              &:hover {
                background-color: rgb(41, 134, 233);
              }
            }
          }
        }
      }
    }
  }
  .hero-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
  }
}
