.header {
  padding: 20px;
  position: relative; // Ensure header stays in place
  background-color: white;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span * {
      color: rgb(53, 170, 249);
    }

    .nav-logo {
      font-size: 1.5rem;

      img {
        width: 200px;
        height: 40px;
      }
    }

    .nav-link {
      display: flex;
      gap: 60px;
      align-items: center;

      @media (max-width: 760px) {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 250px;
        flex-direction: column; // Ensure it is in a column
        color: white !important;
        background-color: #000000;
        padding: 2rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
        z-index: 20; // Ensure the menu is above other elements

        &.open {
          left: 0;
        }

        a {
          margin-bottom: 1rem;
          color: white; // Ensure link text color is white
        }
      }
    }

    .nav-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .search-container {
        position: relative;

        input {
          padding: 8px 25px;
          border: 1px solid rgb(41, 134, 233);
          z-index: 5;
        }

        .search-icon {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          color: #ccc;
        }
      }

      .icon-shop * {
        width: 20px;
        height: 20px;
        color: rgb(22, 132, 183);
      }
    }

    .hamburger {
      display: none;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: black; // Set the hamburger button color to black

      @media (max-width: 760px) {
        display: block;
        z-index: 25; // Ensure the hamburger is above other elements
        position: relative;
        margin-left: 10px;

        span {
          font-size: 1.5rem;
          color: black; // Set the span color to black
        }

        &.open span {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .nav {
      .nav-btn {
        input {
          padding: 5px 15px;
        }
      }
    }
  }
}
