.header {
  padding: 20px;
  background-color: rgb(114, 167, 237);

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .nav-logo {
      font-size: 1.5rem;
    }

    .nav-link {
      display: flex;
      gap: 1rem;
      align-items: center;

      @media (max-width: 870px) {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 250px;
        flex-direction: column;
        background-color: #fff;
        padding: 2rem;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        transition: left 0.3s ease-in-out;
        z-index: 10; /* Ensure the menu is above other elements */

        &.open {
          left: 0;
        }

        a {
          margin-bottom: 1rem;
        }
      }
    }

    .nav-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px;

      .search-container {
        position: relative;

        input {
          padding: 8px 25px;
          z-index: 5; /* Ensure the input is above other elements */
        }

        .search-icon {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          color: #ccc;
        }
      }

      .icon-shop * {
        width: 20px;
        height: 20px;
        color: rgb(255, 245, 194);
      }
    }

    .hamburger {
      display: none;
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;

      @media (max-width: 870px) {
        display: block;
        z-index: 15; /* Ensure the hamburger is above other elements */
        position: relative; /* Adjust position if necessary */
        margin-left: 10px; /* Add some margin to prevent overlap */
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .nav {
      .nav-btn {
        input {
          padding: 5px 15px;
          ba
        }
      }
    }
  }
}
